.back-button {
  position: relative;
}

.back-button-color {
  background-color: #daacf5;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: #000000;
  position: relative;
  left: 37%;
  top: 1vw;
}

.back-button-color:hover {
  background-color: #7d02a6;
  color: white;
}
