.flexbox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2%;
}

table {
  width: 100%;
  text-align: left !important;
  background-color: #ede9fc;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.details {
  text-align: center;
}

.table-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  padding-bottom: 2%;
}

th, td {
  color: #000000;
}

.font-1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-weight: bolder;
}

.font-1-xx-large {
  font-family: 'Raleway', serif;
  font-size: xxx-large;
  font-weight: bold;
  color: #412464;
}

mat-form-field {
  font-size: 14px;
  width: 50%;
}

.mat-paginator {
  background-color: #ede9fc;
}

.paginator-shadow {
  padding-top: 1px;
  box-shadow: 0 0 7px grey;
}

.padding-bottom-1 {
  padding-bottom: 1%;
}

#no-shadow-top {
  overflow-y: hidden;
  padding: 0 10px 10px 10px;
  margin: 0 -10px;
}

.table-header {
  display: flex;
  flex-direction: column-reverse;
}

th {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: larger;
}

td {
  font-size: 17px;
}

.edit-cell {
  text-align: center !important;
}

.back-button {
  position: relative;
}

.back-button-color {
  background-color: #c88ff3;
  position: relative;
  left: 12.5vw;
  top: 1vw;
}

.back-button-color:hover {
  background-color: #ae82fc;
  color: white;
}
