.flex-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 50vh;
}

.back-button {
  position: relative;
}

.back-button-color {
  background-color: #c88ff3;
  position: relative;
  left: 37%;
  top: 2vw;
}

.back-button-color:hover {
  background-color: #ae82fc;
  color: white;
}

.padding-top-3 {
  padding-top: 3%;
}

.title-style {
  font-family: 'Raleway', sans-serif;
  font-size: xxx-large;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
  color: #7065D9;
}

.height {
  height: 3vh;
}

.font-large {
  font-size: larger;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.card {
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
  box-shadow: 0 0 15px grey;
  background-color: #e1d4ff;
}

.bold {
  font-weight: bolder;
}

.input-doctor {
  cursor: initial;
}

.bolder {
  font-weight: bolder;
}

ngx-mat-datetime-picker {
  height: 100px !important;
}

.btn-style {
  background-color: #daacf5;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: #000000;
  width: 8rem;
  height: 2.8rem;
}

.btn-style:hover {
  background-color: #7d02a6;
  color: white;
}

.btn-style:disabled {
  background-color: #9c76a9;
  color: #2d0938;
  pointer-events: none;
  opacity: 0.3;
}
