<div class="back-button">
  <button mat-button class="font-1 back-button-color" (click)="goToHomePage()"><mat-icon>home</mat-icon> Pagina principală</button>
</div>

<div class="wrapper padding-bottom-5">
  <mat-card class="card">
    <form [formGroup]="appointmentFormGroup" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-icon mat-card-avatar>book_online</mat-icon>
        <mat-card-title class="font-large raleway-font bold">Rezervă o programare</mat-card-title>
        <mat-card-subtitle>După ce vei rezerva vei fi repartizat la unul dintre doctorii noștri.</mat-card-subtitle>
      </mat-card-header>
      <div class="flex-box">

        <mat-form-field appearance="fill" class="padding-top-5">
          <mat-label>Nume animal</mat-label>
          <input type="text"
                 matInput
                 formControlName="animal"
                 required
                 name="animal"
                 class="raleway-font"
                 [matAutocomplete]="autoGroup"
                 [(ngModel)]="animal">
          <mat-error *ngIf="appointmentFormGroup?.get('animal')?.invalid">
            <span class="padding-bottom-5">Numele de animal este necesar</span>
          </mat-error>
          <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-option *ngFor="let animal of uniqueAnimals" [value]="animal" class="raleway-font bolder">
              {{animal}}
            </mat-option>
          </mat-autocomplete>


        </mat-form-field>


        <div class="raleway-font bolder" *ngIf="checkSelectedAnimal(animal)">Istoricul de programări pentru {{animal}}:
          <div *ngFor="let appointment of appointments">
            <p></p>
          </div>
          <ul>
            <li *ngFor="let appointment of appointments">
              <p *ngIf="appointment.animal === animal">
                Data programarii: {{appointment.dateTime}}
              </p>
            </li>
          </ul>
        </div>

        <mat-form-field>
          <mat-label>Alege data și ora</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="dateTime" class="height font-large raleway-font" required>
          <mat-error *ngIf="appointmentFormGroup?.get('dateTime')?.invalid">
            <span class="padding-bottom-5">Data si ora este necesara</span>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSeconds]="false" [touchUi]="true"></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ați fost repartizat la doctorul :</mat-label>
          <input matInput class="input-doctor raleway-font" formControlName="doctorName" readonly/>
        </mat-form-field>

        <button mat-raised-button type="submit" (click)="openDialog()" [disabled]="appointmentFormGroup.invalid">Rezervă
        </button>

      </div>
    </form>
  </mat-card>
</div>

