<div class="wrapper padding-bottom-5">
  <mat-card class="card">
    <form [formGroup]="appointmentFormGroup" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-icon mat-card-avatar>brush</mat-icon>
        <mat-card-title class="font-large raleway-font bold">Editează programare</mat-card-title>
        <mat-card-subtitle>Data programarii: {{appointment.dateTime | date: 'MM/dd/yyyy HH:mm'}} <br> Status programare: {{appointment.status}}</mat-card-subtitle>
      </mat-card-header>
      <div class="flex-box">

        <mat-form-field appearance="fill" class="padding-top-5">
          <mat-label>Nume animal</mat-label>
          <input type="text"
                 matInput
                 formControlName="animal"
                 required
                 name="animal"
                 [matAutocomplete]="autoGroup"
                 [readonly]="confirmed"

          >
          <mat-error *ngIf="appointmentFormGroup?.get('animal')?.invalid">
            <span class="padding-bottom-5">Numele de animal este necesar</span>
          </mat-error>
          <mat-autocomplete #autoGroup="matAutocomplete" >
            <mat-option *ngFor="let animal of uniqueAnimals" [value]="animal" [disabled]="statusIsConfirmed(appointment)">
              {{animal}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <mat-form-field appearance="outline" >
          <mat-label>Ați fost repartizat la doctorul :</mat-label>
          <input matInput class="input-doctor" formControlName="doctorName" [readonly]="confirmed"/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Diagnostic</mat-label>
          <input matInput formControlName="diagnosis" required [readonly]="appointment.status === 'Incheiata'">
          <mat-error *ngIf="appointmentFormGroup?.get('diagnosis')?.invalid">
            <span class="padding-bottom-5">Diagnosticul este necesar</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Schimba status:</mat-label>
          <mat-select formControlName="status" required [disabled]="appointment.status === 'Incheiata'">
            <mat-option value="Creata">Creata</mat-option>
            <mat-option value="Confirmata">Confirmata</mat-option>
            <mat-option value="Incheiata" [disabled]="appointment.diagnosis === ''">Incheiata</mat-option>
          </mat-select>
        </mat-form-field>

        <button *ngIf="appointment.status !== 'Incheiata'" mat-raised-button type="submit" [disabled]="clicked">Salvează</button>
        <h3 *ngIf="clicked">
          <p class="raleway-font bold font-large padding-top-5">Programare editata!</p>
        </h3>
      </div>
    </form>
  </mat-card>
</div>


