<div class="flex-box padding-top-5">
  <h1 id="vet-clinic-style">Vet Clinic</h1>
</div>

<div class="flex-box padding-top-5 padding-bottom-2">
  <h6 id="motto-style">Mereu alături de animalul tău de companie!</h6>
</div>

<div class="wrapper flex-box padding-bottom-3">
  <div class="buttons">
    <button type="button" class="slide btn1">
      <div class="raleway-font white" (click)="goToViewPage()">Programari</div>
      <i class="icon-notebook"></i>
    </button>
    <button type="button" class="slide btn2">
      <div class="raleway-font white" (click)="goToAddPage()">Rezervă</div>
      <i class="icon-notebook"></i>
    </button>
    <button type="button" class="slide btn3">
      <div class="raleway-font white" (click)="goToStatisticsPage()">Statistici</div>
      <i class="icon-chart"></i>
    </button>
  </div>
</div>

<div id="image-slider">
  <ng-image-slider
    #nav
    [images]="images"
    [infinite]="true"
    [autoSlide]="1"
    [imageSize]="{ width: '25%', height: 250 }"
    slideImage="1"
  ></ng-image-slider>
</div>
