.flex-box {
  display: flex;
  justify-content: center;
}

.padding-top-5 {
  padding-top: 5%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-bottom-2 {
  padding-bottom: 2%;
}

.wrapper {
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 60px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .info {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .info::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .info {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .add:hover,
.wrapper .add:hover .info,
.wrapper .add:hover .info::before {
  background: #709ac7;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: larger;
}

.wrapper .view:hover,
.wrapper .view:hover .info,
.wrapper .view:hover .info::before {
  background: #3382ec;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: larger;
}

.wrapper .statistics:hover,
.wrapper .statistics:hover .info,
.wrapper .statistics:hover .info::before {
  background: #7d5dab;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: larger;
}

#vet-clinic-style {
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  color: #7065D9;
}

#motto-style {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2vw;
}

#image-slider {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin:0;
  padding:0;
}

.add-color {
  background-color: #93c8ff;
}

.view-color {
  background-color: #19a3ee;
}

.statistics-color {
  background-color: #997cee;
}

