.flex-box {
  display: flex;
  justify-content: center;
}

.padding-top-5 {
  padding-top: 5%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-bottom-2 {
  padding-bottom: 2%;
}

.padding-bottom-3 {
  padding-bottom: 3%;
}

.wrapper {
  justify-content: center;
}

#vet-clinic-style {
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  color: #7f11b2;
}

#motto-style {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2vw;
}

#image-slider {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 0;
  padding: 0;
}

.add-color {
  background-color: #93c8ff;
}

.view-color {
  background-color: #19a3ee;
}

.statistics-color {
  background-color: #997cee;
}

.slide {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 30px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.slide i {
  opacity: 0;
  font-size: 16px;
  transition: 0.2s;
  position: absolute;
  right: 5px;
  top: 20px;
}

.slide div {
  transition: transform 0.8s;
}

.slide:hover div {
  transform: translateX(-6px);
}

.slide.btn1::after {
  content: "";
  background-color: #9220cb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide.btn2::after {
  content: "";
  background-color: #9220cb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide.btn3::after {
  content: "";
  background-color: #9220cb;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
}

.slide:hover i {
  opacity: 1;
  transform: translateX(-6px);
}

.white {
  color: white;
}

.buttons {
  width: 600px;
  display: flex;
  justify-content: space-around;
}

i {
  color: white;
  font-size: 30%;
}
