#chart2 {
  max-width: 380px;
  min-width: 250px;
}

#chart {
  max-width: 380px;
  min-width: 250px;
}

#chart3 {
  max-width: 380px;
  min-width: 250px;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.padding-top {
  padding-top: 10%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: xxx-large;
  padding-top: 3.3%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.back-button {
  position: relative;
}

.back-button-color {
  background-color: #daacf5;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: larger;
  color: #000000;
  position: relative;
  left: 1vw;
  top: 1vw;
}

.back-button-color:hover {
  background-color: #7d02a6;
  color: white;
}

.card {
  display: flex;
  justify-content: center;
  width: 30%;
  box-shadow: 0 0 15px grey;
  background: #e7c3fd linear-gradient(to bottom, #d88ef6, #8b60b0);
  transition: top ease 0.5s;
}

.card:hover {
  background-color: white;
}

apx-chart {
  cursor: pointer;
}

/*.card:after {*/
/*  !*content: '';*!*/
/*  opacity: 0;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 0;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  border-radius: inherit;*/
/*  transition: opacity .3s;*/
/*  background: linear-gradient(to bottom, #eee5f5, #fac2fa)*/
/*}*/

/*.card:hover {*/
/*  background-color: #7d5dab;*/
/*}*/
