<div class="wrapper">
  <div>
    <h1>Statistici Vet Clinic</h1>
  </div>


  <div class="flexbox padding-top">
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [title]="chartOptions.title"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
      ></apx-chart>
    </div>

    <div id="chart2">
      <apx-chart
        [series]="chartOptions2.series"
        [chart]="chartOptions2.chart"
        [labels]="chartOptions2.labels"
        [title]="chartOptions2.title"
        [theme]="chartOptions2.theme"
        [responsive]="chartOptions2.responsive"
      ></apx-chart>
    </div>

    <div id="chart3">
      <apx-chart
        [series]="chartOptions3.series"
        [chart]="chartOptions3.chart"
        [title]="chartOptions3.title"
        [labels]="chartOptions3.labels"
        [responsive]="chartOptions3.responsive"
      ></apx-chart>
    </div>
  </div>
</div>




