#chart2 {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

#chart3 {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.flexbox {
  display: flex;
  justify-content: space-around;
}

.padding-top {
  padding-top: 10%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: xxx-large;
  padding-top: 5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.back-button {
  position: relative;
}

.back-button-color {
  background-color: #c88ff3;
  position: relative;
  left: 8vw;
  top: 1vw;
}

.back-button-color:hover {
  background-color: #ae82fc;
  color: white;
}

